<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/account/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/" class="btn btn-primary btn-sm">Page Chatting</a>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Wellcome back!</h3>

                    <p>
                        <strong>id</strong>:
                        <%= user._id %><br>
                        <strong>UserName</strong>:
                        <%= user.local.username %><br>
                        <strong>Email</strong>:
                        <%= user.local.email %><br>
                    </p>
                    <h2>Users</h2>

                    <ul>
                        <% listUser.forEach(function(item) { 
        %>

                        <li>
                            <%= item.local.username %> -
                            <% if(item.local.isonline){ %> online
                            <%}else{%>offline
                            <% }%>
                        </li>

                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>