<html>

<head>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style-chatting.css">
</head>

<body>
  <input type="hidden" value="<%= user._id %>" id="idCurrentUser" name="idCurrentUser" />
  <input type="hidden" value="<%= user.local.username %>" id="userNameCurrentUser" name="userNameCurrentUser" />
  <input type="hidden" value="" name="idFriendUser" id="idFriendUser" />
  <input type="hidden" value="" name="idChannel" id="idChannel" />
  <% if(roomNew!=null) {%>
  <input type="hidden" value="<%= roomNew.idroom %>" name="idRoom" id="idRoom" />
  <%}else{%>
  <input type="hidden" value="" name="idRoom" id="idRoom" />
  <%}%>
  <div class="container app">
    <div class="row app-one">
      <div class="col-sm-4 side">
        <div class="side-one">
          <div class="row heading">
            <div class="col-sm-2 col-xs-2 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </div>
            </div>
            <div class="col-sm-5 col-xs-5  heading-dot  pull-left">
              <a href="/account/profile">
                <%= user.local.username %> <br />
                <%= user.local.email %>
              </a>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <a href="/account/logout"><i class="fa fa-sign-out fa-2x  pull-right" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="UserName, Email & Name channel">
              </div>
            </div>
          </div>

          <div class="row sideBar">
            <div class="row sideBar-body">
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta"> <b>Direct Messages</b>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div id="sideBarDirect">
              <% listUser.forEach(function(user) { %>
              <div class="row sideBar-body" onClick="chatDirect('<%=user._id %>')">
                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                  <div class="avatar-icon">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                  </div>
                </div>
                <div class="col-sm-9 col-xs-9 sideBar-main">
                  <div class="row">
                    <div class="col-sm-8 col-xs-8 sideBar-name">
                      <span class="name-meta">
                        <%= user.local.username %>
                      </span>
                    </div>
                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                      <span class="time-meta pull-right">
                        <% if(user.local.isonline){ %> online
                        <%}else{%>offline
                        <% }%>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta"> <b>Channels</b>
                    </span>
                  </div>
                  <div class="col-sm-2 col-xs-2 sideBar-name pull-right">
                    <span class="name-meta"> <i class="fa fa-plus-square-o fa-2x  pull-right" aria-hidden="true"
                        data-toggle="modal" data-target="#nameChannelModal"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div id="sideBarChannel">
              <% listRoom.forEach(function(room) { %>
              <div class="row sideBar-body" onClick="chatChannel('<%=room.idroom %>')">
                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                  <div class="avatar-icon">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                  </div>
                </div>
                <div class="col-sm-9 col-xs-9 sideBar-main">
                  <div class="row">
                    <div class="col-sm-8 col-xs-8 sideBar-name">
                      <span class="name-meta">
                        <%= room.title %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
        <div class="side-two">
          <div class="row newMessage-heading">
            <div class="row newMessage-main">
              <div class="col-sm-2 col-xs-2 newMessage-back">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col-sm-10 col-xs-10 newMessage-title">
                New Chat
              </div>
            </div>
          </div>

          <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
              <div class="form-group has-feedback">
                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>

          <div class="row compose-sideBar">
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                    </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                    </span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="col-sm-8 conversation">
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta"> Loading...
            </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>

        <div class="row message" id="conversation">
          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
                Loading message!
              </a>
            </div>
          </div>

          <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
                <div class="message-text">
                  Loading ...
                </div>
                <span class="message-time pull-right">
                  Loading ...
                </span>
              </div>
            </div>
          </div>

          <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  Loading ...
                </div>
                <span class="message-time pull-right">
                  Loading ...
                </span>
                <div class="message-text">
                  Loading ...
                </div>

              </div>
            </div>
          </div>
          <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
                <div class="message-text">
                  Loading ...
                </div>
                <span class="message-time pull-right">
                  Loading ...
                </span>
              </div>
            </div>
          </div>
          <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  Loading ...
                </div>
                <span class="message-time pull-right">
                  Loading ...
                </span>
                <div class="message-text">
                  Loading ...
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<div class="modal" id="nameChannelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add chanel chatting
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>

      </div>
      <div class="modal-body">

        <div class="form-inline">
          <div class="form-group">
            <label for="nameGroupChat">Name group:</label>
            <input type="text" class="form-control" id="nameGroupChat" placeholder="Name group chat">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save-group">Save </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="../jquery/chat.js"></script>
<script src="../jquery/channel.js"></script>

</html>