body {
    background-color: #3b2c25;
}

li.li_home {
    background: url(../images/icons/home.png) no-repeat;
}

li.li_work {
    background: url(../images/icons/work.png) no-repeat;
}

li.li_about {
    background: url(../images/icons/about.png) no-repeat;
}

li.li_contact {
    background: url(../images/icons/contact.png) no-repeat;
}

img.light-box {
    position: absolute;
    top: -235px;
    left: -44px;
    z-index: 99999;
}

img.light-box:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom:1px solid magenta;
  }

.navbar-collapse {
    height: 40px;
}

.navbar-nav {
    padding-top: 63px;
    margin-left: 46%!important
}

a.nav-link {
    height: 8px;
    color: #c7b18d!important;
    font-family: Arial MT;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase
}

img.icon-active {
    position: absolute;
    top: 0;
    margin-left: -37px;
    display:none;
}
img.icon-home-active {
    position: absolute;
    top: 0.5px;
    margin-left: -34px!important;
    display:block;
}
img.icon-work-active {
    position: absolute;
    top: 0.5px;
    margin-left: -34px!important;
}
img:hover{
     cursor: pointer; 
}

@media (min-width:768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 0!important
    }
}

img.light-box-text {
    position: absolute;
    top: 8px;
    left: 162px;
    z-index:9999999999999;
}

.nav-item {
    padding-top: 21px
}

.nav-item a {
    padding-top: 18px;
    padding-right: 108px!important
}

#secondaryContent cite {
    font: 700 normal 15px arial;
    color: #2f231e;
    float: right;
    padding-right: 20px;
    padding-top: 35px;
    font-weight: 700
}

#secondaryContent cite span {
    font-size: 10px;
    line-height: 10px;
    display: block;
    color: #89451f
}

.container-body, main {
    background-color: #f7f5f4
}

.container-body {
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #fcfcfc
}

.header {
    background-color: #2f231e;
    padding-top: 5.9em;
    height: 214px;
    border-left: 1px solid #776363;
    border-right: 1px solid #776363
}

p.light-box-desc {
    position: absolute;
    top: 3px;
    left: -1px;
    height: 79px;
    color: #a68a7d;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    border-left: 1px solid #b19d91;
    padding-left: 27px
}

#secondaryContent {
    padding-left: 57px;
    padding-top: 31px
}

#whatWeDo {
    width: 187px;
    height: 29px;
    color: #2f231e;
    font-family: Duepuntozero;
    font-size: 41px;
    font-weight: 400;
    line-height: 33.92px
}

.what_we_do p {
    width: 262px;
    height: 73px;
    color: #645a56;
    font-family: Arial MT;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

.image_display {
    width: 96%;
    height: 100%;
    border: 1px solid #d5cdc8
}

.image_display img {
    margin: 12px auto 10px;
    display: block;
    width: 95%;
    height: 95%
}

ul.what_we_do li {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 45px
}

ul.what_we_do li#first {
    border-top: 1px solid #a9a5a3
}

ul.what_we_do {
    padding-left: 20px
}

img.icon_li {
    position: absolute;
    left: 26px
}

img.what_we_do {
    padding: 46px 14px 20px
}

p.light-box-desc a {
    color: #eeebe9
}

.bg-same-dark {
    background-color: #251b17
}

blockquote {
    background: #ebe7e4;
    color: #7f6357;
    padding: 23px;
    font: italic 20px/27px georgia;
    margin: 0!important
}

#recentWork {
    clear: both;
    position: relative;
    border-top: 1px solid #cec5c0;
    margin: 0 14px 56px
}

img.resent_work {
    padding: 30px 0
}

#subpage #container #recentWork {
    border-top: none
}

#subpage #recentWork h3 {
    font-size: 24px;
    color: #2f231e
}

#recentWork h2 {
    border: none;
    margin-bottom: 0;
    padding: 28px;
    margin-top: 11px
}

#recentWork ol {
    position: absolute;
    right: 0;
    top: 34px
}

#subpage #recentWork ol {
    top: 0
}

#recentWork ol li {
    width: 16px;
    height: 16px;
    display: inline
}

#recentWork ol li a {
    color: #fff;
    background: #6c535a;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 13px
}

#recentWork ol li.chosen a, #recentWork ol li a:hover {
    background: #a37a7e
}

#recentWork ol li a:hover {
    text-decoration: none
}

#recentWork p {
    text-align: right;
    font-size: 13px;
    font-style: italic;
    color: #4e4d4d;
    margin-top: 10px;
    font-family: Arial;
    margin-right: 21px;
}

.top {
    background-color: #3b2c25
}

.top-body {
    background-color: #f1efee
}

.top-content {
    padding: 0 15%;
    border-top: 1px solid #776363
}

#recentWork strong {
    font-family: Arial
}

#subpage #recentWork p {
    text-align: left;
    line-height: 18px
}

#footerWrap {
    border-top: 1px solid #fff;
    background: #3f322a
}

#footer {
    overflow: hidden;
    color: #a68a7d;
    margin: auto;
    text-align: left;
    padding-top: 35px;
    font-size: 11px;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: -15px;
    border-right: 1px solid #776363;
    padding: 0 15%;
    height: 80px;
}

footer.container {
    padding: 0 7%
}

#footer p {
    color: #a68a7d;
    font-size: 11px
}

#footer #footerLogo {
    float: left;
    background: #291e18;
    width: 36%;
    text-align: center;
    margin-top: -4px;
    padding-bottom: 3em;
    margin-right: 32px;
    border-left: 1px solid #776363;
    border-right: 1px solid #776363
}

#footer p a, #footer a {
    color: #fff;
}

#footer p#footerInfo {
    float: right;
    padding-right: 45px;
    margin-top: -17px
}

#footer-content {
    background-color: #32251f;
    height: 128px;
    border-right: 1px solid #776363
}

#footer-text-description {
    padding-top: 22px
}

span.light {
    width: 66px;
    height: 30px;
    background-clip: text;
    color: #fff;
    font-family: Duepuntozero;
    font-size: 36px;
    font-weight: 400;
    line-height: 29.48px
}

span.box {
    width: 25px;
    height: 12px;
    color: #fae1b3;
    font-family: Duepuntozerobold;
    font-size: 15px;
    font-weight: 400;
    line-height: 11.48px;
    text-transform: uppercase
}

.arrow {
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 39px solid #e3e3e3;
    border-left: 32px solid #f7f5f4;
    border-right: -5px solid #f7f5f4;
    position: absolute;
    right: 66px
}

.row-what-we-do {
    margin-bottom: 40px
}

@media only screen and (max-width:600px) {
    img.icon-active {
        position: absolute;
        top: 11px;
        margin-left: -36px;
    }
    img.light-box, img.light-box-text {
        display: none
    }
    p.light-box-desc {
        top: -70px
    }
    #recentWork ol {
        top: 5px
    }
    .nav-item a {
        padding-right: 60px!important
    }
    .navbar-nav {
        padding-top: 0;
        margin-left: 24%!important;
    }
    #footer #footerLogo {
        width: 100%
    }
    .what_we_do p {
        width: auto;
        height: auto
    }
    #secondaryContent {
        padding-left: 0;
        padding-top: 0
    }
    .nav-item {
        margin-left: -26px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .navbar-nav {
        margin-left: auto!important
    }
    img.icon-active, img.light-box-text, img.light-box {
        display: none
    }
    .what_we_do p {
        width: auto;
        height: auto
    }
    #secondaryContent {
        padding-left: 0;
        padding-top: 0
    }
    p.light-box-desc {
        left: none!important
    }
}